# .coveragerc (repo root)

[run]
omit =
    */main.py
    */__init__.py
    third_party/*
    */_graph_pickle.py
    tests/*
    */site-packages/*
    */dist-packages/*
    */envs/*/lib/python*/*
    */.mamba-root/*

[report]
fail_under = 70
skip_empty = True
